* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    /* fundo mais claro */
}

h1 {
    color: #fff;
    font-weight: 800;
}

.hidden {
    display: none !important;
}


.panel {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 25%;
    background-color: #333;
    /* azul vibrante para a barra lateral */
    color: #fff;
    /* texto branco */
    padding: 20px;
}

.custom-form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
}

.button-group input[type="radio"] {
    display: none;
}

.button-group label {
    display: inline-block;
    cursor: pointer;
    background-color: #9ea4a4;
    /* azul mais escuro */
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    color: #fff;
    /* texto branco */
}

.button-group input[type="radio"]:checked+label {
    background-color: #28a745;
    /* verde */
}

.btn-submit {
    background-color: #28a745;
    /* verde */
    color: #fff;
    /* texto branco */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #218838;
    /* verde escuro no hover */
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    /* fundo branco para o conteúdo */
}

.result-image {
    max-width: 100%;
    max-height: 100%;
    text-align: top;
}

.result-image img {
    max-width: 100%;
    max-height: 100%;
}

/* Media query para ajustar para dispositivos móveis */
@media only screen and (max-width: 1080px) {
    .panel {
        flex-direction: column;
        /* Mudar para layout de coluna em telas menores */
    }

    .sidebar {
        width: 100%;
        /* Largura total para ocupar toda a tela em telas menores */
        padding: 10px;
        /* Reduzir o padding para economizar espaço */
    }

    .button-group label {
        max-width: 75px;
        /* width: calc(50% - 10px); */
        /* Para 2 botões por linha em telas menores */
    }

    .button-blinds label {
        max-width: 75px;
    }
}